script/*
*pyc*
*aux*
*log*
*nav*
*.out*
*snm*
*.toc*
*.DS*
slides/**/*pyc*
slides/**/*aux*
slides/**/*log*
slides/**/*nav*
slides/**/*.out*
slides/**/*.tex*
slides/**/*snm*
slides/**/*toc*
slides/**/*pdf*
**tmp*
